# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Logs and temporary files
*.log
*.tmp

# IDE and editor files
.vscode/
.idea/
*.swp

# AWS Tags output folder
tags_services_account/
